/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.d
/.deps
/*.hfst
/*.zhfst
/.DS_Store
/*-*.prob
/config.in
/config
/test/*-output.txt
/dev/testvoc/duplicates.*.txt
/tagger-data/ron.tagged
/tagger-data/ron.tagged.txt
/tagger-data/ron.untagged
/tagger-data/ron.dic
/tagger-data/ron.dic.expanded
/tagger-data/ron.crp
/tagger-data/ron.crp.txt
