* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ron.pc.in -text
/apertium-ron.post-ron.dix -text
/apertium-ron.ron.acx -text
/apertium-ron.ron.dix -text
/apertium-ron.ron.rlx -text
/apertium-ron.ron.tsx -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text svneol=unset#text/plain
/ron.prob -text
texts/limba_daneza1.handtagged.andreibarbu.txt -text
texts/limba_daneza1.raw.txt -text
texts/limba_daneza1.tagged.txt -text
texts/stea1.handtagged.camelia_mm.txt -text
texts/stea1.raw.txt -text
texts/stea1.tagged.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
